<h1>Pomodoro</h1>

<p>Você não tem nenhum pomodoro</p>
<input type="button" value="Iniciar Pomodoro"/>

<ul>
  <li>#P1 - 22:40h ás 23:05h</li>
  <li>[Break] - 23:05h - 23:10h</li>
  <li>#P2 - 22:40h ás 23:05h</li>
  <li>[Break] - 23:05h - 23:10h</li>
  <li>#1 - 22:40h ás 23:05h</li>
  <li>[Break] - 23:05h - 23:10h</li>
  <li>#1 - 22:40h ás 23:05h</li>
  <li>[Break] - 23:05h - 23:10h</li>
  <li>#1 - 22:40h ás 23:05h</li>
  <li>[Long Break] - 23:05h - 23:10h</li>
</ul>